
{% extends 'work_base.html' %}

{% block content %}
	
	<h1>Verdeel uren voor {{ roster }}</h1>
	
	<p>Wanneer het opgeven van aanwezigheid begonnen is, kan het rooster niet meer aangepast worden.</p>
	
	<p>Dit rooster loopt van {{ roster.start }} tot {{ roster.end }} en heeft {{ roster.total_timeslots }} tijdsloten van totaal {{ roster.total_duration }} uur.</p>
	
	<p>Deze gebruikers worden uitgenodigd:</p>
	<ol>
		{% for user in roster.users %}
			<li>{{ user }}</li>
		{% endfor %}
	</ol>
	
	<p><a href="{% url 'invite_workers' roster=roster.name %}">Oke, laat deze mensen zich opgeven</a></p>
	<p><a href="{% url 'add_timeslots' roster=roster.name %}">Voeg shifts toe</a></p>
	<p><a href="{% url 'roster_users' roster=roster.name %}">Voeg gebruikers toe</a></p>
	
{% endblock content %}
