
{% extends 'workbase.html' %}

{% block content %}
	
	<h1>Werkers voor {{ roster }}</h1>
	
	<p>Dit rooster loopt van {{ roster.start }} tot {{ roster.end }} en heeft {{ roster.total_timeslots }} tijdsloten van totaal {{ roster.total_duration }} uur, te verdelen over {{ roster.total_users }} gebruikers.</p>
	
	<p>Voeg hier gebruikers in en waar nodig het aantal extra uren (meestal niet nodig; kan ook negatief)</p>
	
	<form action="{% url 'roster_users_submit' roster=roster.pk %}" method="POST">
		<ul>
		{% for user in users %}
			<li>
				<input type="checkbox" name="user_{{ user.pk }}" {% if user.working %}checked{% endif %}/>
				{{ user }}
				[extra: <input style="width: 3em;" name="extra_{{ user.pk }}" value="{{ user.extra }}" />]
			</li>
		{% endfor %}
		</ul>
		{% csrf_token %}
		<input type="submit" value="Aanpassen" />
	</form>
	
	<br />
	
	<p><a href="{% url 'add_timeslots' roster=roster.pk %}">Voeg shifts toe</a></p>
	<p><a href="{% url 'roster_lock' roster=roster.pk %}">Klaar; nodig gebruikers uit</a></p>
	<p><a href="/admin/">Nieuwe gebruiker</a></p>
	
{% endblock content %}

