
{% extends 'work_base.html' %}

{% block content %}
	
	<h1>Roosters</h1>
	
	<a href="{% url 'start_roster' %}">Start een rooster</a>
	
	<ul>
		{% for roster in rosters %}
			<li>
				{% if roster.state == 0 %}
					<a href="{% url 'add_timeslots' roster=roster.name %}">{{ roster.name }}</a>
					 from {{ roster.start }} to {{ roster.end }}
					 [<a href="{% url 'delete_roster' roster=roster.name %}" class="delete_link">delete</a>]
					  - rooster wordt ingericht
				 {% elif roster.state == 1 %}
					<a href="{% url 'invite_workers' roster=roster.name %}">{{ roster.name }}</a>
					 from {{ roster.start }} to {{ roster.end }}
					 [<a href="{% url 'delete_roster' roster=roster.name %}" class="delete_link">delete</a>]
					  - tijden worden doorgegeven
				 {% elif roster.state == 2 %}
					<a href="{% url 'calculate_status' roster=roster.name %}">{{ roster.name }}</a>
					 from {{ roster.start }} to {{ roster.end }}
					  - shifts worden verdeeld
				 {% elif roster.state == 3 %}
					<a href="{% url 'calculate_status' roster=roster.name %}">{{ roster.name }}</a>
					 from {{ roster.start }} to {{ roster.end }}
					 [<a href="{% url 'delete_roster' roster=roster.name %}" class="delete_link">delete</a>]
					  - shifts verdeeld, klaar voor activatie
				 {% elif roster.state == 4 %}
					<a href="{% url 'roster_stats' roster=roster.name %}">{{ roster.name }}</a>
					 from {{ roster.start }} to {{ roster.end }}
					  - actief!
				 {% endif %}
			</li>
		{% endfor %}
	</ul>
	
{% endblock content %}
