
{% extends 'work_base.html' %}

{% block content %}
	
	<h1>Stats {{ roster }}</h1>
	
	<ul>
		<li>naam: {{ roster.name }}</li>
		<li class="help_cursor" title="indicates whether distributed etc">status: {{ roster.state }}</li>
		<li>start: {{ roster.start }}</li>
		<li>eind: {{ roster.end }}</li>
		<li>#gebruikers: {{ roster.total_users }}</li>
		<li>#tijdsloten: {{ roster.total_timeslots }}</li>
		<li>totale duur: {{ roster.total_duration }}</li>
		<li class="help_cursor" title="hier zijn shifts waar meerdere mensen werken meerdere keren meegerekend">totale werkuren: {{ roster.total_work_time }}</li>
	</ul>
	
	<table class="roster_stats">
		<tbody>
			<tr>
				<th>naam</th>
				<th>gebruiker</th>
				<th class="help_cursor" title="the total current shifts (including trades)">gekregen</th>
				<th class="help_cursor" title="entered as available">beschikbaar</th>
				<th class="help_cursor" title="number of extra hours the algorithm strives for">extra</th>
			</tr>
			{% for user in users %}
				<tr>
					<td>{{ user }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.assignment_duration }}</td>
					<td>{{ user.availability_duration }}</td>
					<td>{{ user.extra_duration }}</td>
				</tr> 
			{% endfor %}
		</tbody>
	</table>
	
	<img src="dist.png" alt="[grafiek van uurverdeling]" title="gekregen vs opgegeven uren" />
	
	{% if day_stats %}
		<ul>
			{% for day in day_stats %}
				{% if day.timeslots_sets %}
					<li><strong>{{ day.weekday }}:</strong></li>
					{% for set in day.timeslots_sets %}
						<li>
							{{ set.first_timeslots.start|date:"H:i" }} - {{ set.first_timeslots.end|date:"H:i" }}:
							{{ set.equivalent_availabilities_length }} / 
							{{ set.equivalent_timeslots|length }}
							{#{{ set.equivalent_availabilities }}#}
						</li>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}
	
	<p>
		
	</p>
	
	<p>
		<br />
		<a href="{% url 'final_roster' roster=roster.name %}">Bekijk het rooster</a> (of de <a href="{% url 'all_rosters_txt' %}">text versie</a> van alle roosters samen).
	</p>
	
{% endblock content %}


