
{% extends 'schedulebase.html' %}

{% block content %}
	
	{% if reservation %}
		
		<p>Je reservering is ingevoerd!</p>
		
	    <p>Ruimte: <a href="{% url room reservation.room.pk %}">{{ reservation.room }}</a></p>
	    <p>Door: <a href="{% url person reservation.person.pk %}">{{ reservation.person }}</a></p>
		<p>Op: {{ reservation.start|date:"M d Y" }}</p>
		<p>Van: {{ reservation.start|date:"H:i" }}</p>
		<p>Tot: {{ reservation.end|date:"H:i" }}</p>
		
		<p>Je krijgt per e-mail een bevestiging.</p>
		
		<p>Mocht je toch geen gebruik maken van je reservering, dan vragen we je deze via e-mail of bij een van de zaalwachten te annuleren.</p>
		
	{% else %}
		
		<p>Er is iets misgegaan bij het maken van de reservering, excuses voor het ongemak.</p>
		
		<p>Je kan ook bij een van de zaalwachten reserveren.</p>
		
	{% endif %}
	
	<a href="/" data-role="button" data-icon="check" >Oke</a>
	
{% endblock content %}

