
{% extends 'schedulebase.html' %}

{% block content %}
	
	<p>Vul om de ruimte te reserveren je e-mailadres in. Je kan ook een beschrijving van de reservering invoeren (zonder beschrijving wordt je naam als beschrijving gebruikt).</p>
	
	<form action="{% url enter_email_submit %}" method="POST" autocomplete="off">
		
		<div data-role="fieldcontain">
		    {{ email_form }}
		</div>
		
		<div data-role="fieldcontain">
			<label>Optioneel - vul eventueel in waarvoor de reservering is:</label><br />
		    <input type="text" name="description">
		</div>
		
		{% csrf_token %}
		
		<input type="hidden" name="reservation" value="{{ reservation }}" />
		
		<input type="submit" value="Verder" data-role="button" data-icon="check" />
		
	</form>
	
{% endblock content %}

