
{% extends 'schedulebase.html' %}

{% block content %}
	
	<p>Voor welke dag wil je een ruimte reserveren?</p>
	
	<form action="{% url pick_room %}" method="GET">
		<label>Datum</label>
		<input name="date" value="{{ tomorrow|date:"Y-m-d" }}" type="date" data-role="datebox" data-options='{"mode": "calbox", "lockInput": false, "maxDays": 60, "blackDays": [0], "beforeToday": false}'>
		<label>Begintijd</label>
		<input id="pick_time_start" name="start" value="12:30" type="date" data-role="datebox" data-options='{"mode": "timeflipbox", "lockInput": false, "overrideTimeFormat": 24, "minuteStep": 15, "defaultValue": [12,30], "minHour": 8, "maxHour": 22}'>
		<label>Eindtijd</label>
		<input id="pick_time_end" name="end" value="13:30" type="date" data-role="datebox" data-options='{"mode": "timeflipbox", "lockInput": false, "overrideTimeFormat": 24, "minuteStep": 15, "defaultValue": "12:30", "minHour": 8, "maxHour": 22}'>
		<input type="submit" value="Kies een ruimte voor dit tijdstip" />
	</form>
	
{% endblock content %}

