
{% extends 'schedulebase.html' %}

{% block page %}
	
	<div data-role="header">
		<!--<a href='#' class='ui-btn-right' data-icon='arrow-l' onclick="history.back(); return false">Back</a>-->
		<a class="ui-btn-left" href="/" data-ajax="false">Home</a>
		<a class="ui-btn-right" href="{% url pick_time %}">Reserveer</a>
		<h4>Schedule</h4>
	</div>
	
	{% block content %}
		<div data-role="content">
			<div class="schedule">
				<div class="schedule_times">
					<div class="schedule_week">Week #{{ week }}, {{ year }}</div>
					<div class="schedule_830">8:30</div>
					<div class="schedule_1030">10:30</div>
					<div class="schedule_1230">12:30</div>
					<div class="schedule_1330">13:30</div>
					<div class="schedule_1530">15:50</div>
					<div class="schedule_1730">17:30</div>
					<div class="schedule_2000">20:00</div>
					<div class="schedule_2200">22:00</div>
				</div>
				{% for day in schedule.values %}
					<div class="schedule_{{ day.name }}">
						<div class="schedule_date">{{ day.date }}</div>
						{% for reservation in day.reservations %}
							<a href="{% url reservation reservation.pk %}">
								<div class="schedule_event style_{{ reservation.room.style.name }}" data-start="{{ reservation.start_minutes }}" data-end="{{ reservation.end_minutes }}">
									{{ reservation }} @ {{ reservation.room }}
									<span class="schedule_event_time">{{ reservation.start|date:"H:i" }}-{{ reservation.end|date:"H:i" }}</span>
								</div>
							</a>
						{% endfor %}
					</div>
				{% endfor %}
				<span class="schedule_hidden_previous" style="display: none;">{% url schedule year=prev_year week=prev_week %}</span>
				<span class="schedule_hidden_next"     style="display: none;">{% url schedule year=next_year week=next_week %}</span>
			</div>
		</div>
	{% endblock content %}
	
	<div data-role="footer" id="ftrMain" style="text-align:center" name="ftrMain" data-position="fixed">
		<!--<h4 style="display: inline-block; margin-left: 65px; margin-right: 0">Copyright 2011</h4>-->
		<a class="ui-btn-left schedule_previous_button" data-theme="a" href="{% url schedule year=prev_year week=prev_week %}">Vorige</a>
		<a class="ui-btn-right schedule_next_button" style="margin-right: 0.4em; float: right" data-theme="a" href="{% url schedule year=next_year week=next_week %}">Volgende</a>
		<h4>Library of Science &copy; Mark Verleg</h4>
	</div>
	
{% endblock page %}

