
{% extends 'schedulebase.html' %}

{% block content %}
	
	{% if reservation %}
		
		{% if reservation.is_cancelled %}
			<p class="warning_message">Deze reservering is geannuleerd!</p>
		{% endif %}
		
		{% if is_confirmation %}
			<p>Je reservering is ingevoerd!</p>
		{% endif %}
		
		{% if is_cancellation %}
			<p>Weet je zeker dat je onderstaande reservering wilt annuleren?</p>
		{% endif %}
		
		<ul>
			<li>Beschrijving: {% if reservation.name %}{{ reservation.name }}{% else %}geen{% endif %}</li>
		    <li>Ruimte: <a href="{% url room reservation.room.pk %}">{{ reservation.room }}</a></li>
		    <li>Door: <a href="{% url person reservation.person.pk %}">{{ reservation.person }}</a></li>
			<li>Op: {{ reservation.start|date:"M d Y" }}</li>
			<li>Van: {{ reservation.start|date:"H:i" }}</li>
			<li>Tot: {{ reservation.end|date:"H:i" }}</li>
		</ul>
		
		{% if is_confirmation %}
			{% if reservation.person.confirmations %}
				<p>Je krijgt per e-mail een bevestiging.</p>
			{% else %}
				<p>E-mailbevestigingen staan uit.</p>
			{% endif %}
		{% endif %}
		
		{% if is_cancellation %}
			<a href="{% url cancel_reservation_confirm token=reservation.delete_code %}" data-role="button" data-icon="check">Ja, annuleer de reservering</a>
			<a href="{% url schedule %}" data-role="button" data-icon="check">Nee, behoud de reservering</a>
		{% endif %}
		
		{# TODO NO_SHOW #}
		
		<!-- <p>Mocht je toch geen gebruik maken van je reservering, dan vragen we je deze via e-mail of bij een van de zaalwachten te annuleren.</p> -->
		
	{% else %}
		<p>Er is geen reservering met dit id, sorry.</p>
	{% endif %}
	
	{% if not is_cancellation %}
		<a href="/" data-role="button" data-icon="check" data-ajax="false">Oke</a>
	{% endif %}
	
{% endblock content %}

