
{% extends 'schedulebase.html' %}

{% block content %}
	
	<p>Dit lijkt je eerste bezoek te zijn. Zou je je naam in willen vullen?</p>
	
	<form action="{% url enter_name_submit %}" method="POST">
		
		<div data-role="fieldcontain">
		    {{ name_form }}
		</div>
		
		{% csrf_token %}
		
		<input type="hidden" name="reservation" value="{{ reservation }}" />
		
		<input type="submit" value="Verder" data-role="button" data-icon="check" />
		
	</form>
	
{% endblock content %}

