
{% extends 'schedulebase.html' %}

{% block content %}
	
	<p>Wil je bevestigingsmails ontvangen bij reserveringen?</p>
	
	<p>Op het moment staan bevestigingsmails <strong>{% if person.confirmations %}AAN{% else %}UIT{% endif %}</strong></p>
	
	<p>Zonder bevestigingsmails krijg je geen annuleringslink. Annuleren kan dan via de zaalwacht.</p>
	
	<a href="{% url subscribe_confirm token=person.email_token %}" data-role="button" data-icon="check">Bevestigingse-mails AAN</a>
	<a href="{% url unsubscribe_confirm token=person.email_token %}" data-role="button" data-icon="check">Bevestigingse-mails UIT</a>
	
{% endblock content %}
