
{% extends 'schedulebase.html' %}

{% block content %}
	
	{% if error %}
		<p>Sorry, op dat moment is de Library of Science niet open.</p>
	{% endif %}
	
	<p>De openingstijden van de Library of Science zijn:</p>
	<table data-role="table">
		<tr>
			<td>Maandag t/m donderdag</td>
			<td>8:30 - 22:00</td>
		</tr>
		<tr>
			<td>Vrijdag</td>
			<td>8:30-17:30</td>
		</tr>
		<tr>
			<td>Zaterdag</td>
			<td>9:30 - 16:00</td>
		</tr>
	</table>
	
	<p><a href="{% if next_page %}{{ next_page }}{% else %}/{% endif %}" data-role="button" data-icon="check">Oke</a></p>
	
{% endblock content %}

