
.schedule
{
	position: relative;
	width: 100%;
	height: 600px;
	background-color: white;
	border: 1px solid gray;
}

.schedule > div
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid gray;
}

.schedule > div:not(:first-child)
{
	width: 15%;
}

.schedule_monday { left: 10%; }
.schedule_tuesday { left: 25%; }
.schedule_wednesday { left: 40%; }
.schedule_thursday { left: 55%; }
.schedule_friday { left: 70%; }
.schedule_saturday { left: 85%; }

.schedule_week, .schedule_date
{
	font-weight: bold;
	padding-left: 10px;
}

.schedule_times
{
	position: relative;
	width: 10%;
}

.schedule_times > div
{
	position: absolute;
	right: 10px;
}

.schedule_830 { top: 40px; }
.schedule_1030 { top: 120px; }
.schedule_1230 { top: 200px; }
.schedule_1330 { top: 240px; }
.schedule_1530 { top: 300px; }
.schedule_1730 { top: 380px; }
.schedule_2000 { top: 480px; }
.schedule_2200 { top: 580px; }

.schedule_event, .schedule_timeslot
{
	padding: 4px 6px;
	position: absolute;
	left: 0px;
	right: 0px;
	font-weight: normal;
	text-shadow: 0px 0px;
	border-radius: 4px;
	/*box-shadow: 3px 3px 3px 3px gray;*/
	opacity: 0.9;
	border: 2px solid;
	overflow: hidden;
}

/*.schedule_timeslot
{
	z-index: 8;
}*/

.final_shift, .final_shift a
{
	background-color: #F0F4F9;
	color: #111C2C;
	border-color: #C4D3E9;	
}

.schedule_timeslot_unavailable
{
	background-color: #F0F4F9;
	color: #111C2C;
	border-color: #C4D3E9;
}

.final_shift_empty, .final_shift_empty a
{
	background-color: #ba7279;
	color: #111C2C;
	border-color: #c76d6d;
}

.schedule_timeslot_available, .final_shift_mine, .final_shift_mine a
{
	background-color: #97B1D8;
	color: #111C2C;
	border-color: #7A9BCD;
}

.final_shift_fortrade, .final_shift_fortrade a
{
	background-color: #9381a0;
	color: #111C2C;
	border-color: #a07c93;
}

.final_shift_empty, .final_shift_mine, .final_shift_fortrade, .final_shift_admin
{
	cursor: pointer;
}

.schedule_event:hover, .schedule_timeslot:hover
{
	margin: -2px;
	opacity: 1;
	min-height: 100px;
	z-index: 15;
}

.schedule_event:active
{
	z-index: 100;
}

.schedule_event_time
{
	padding-left: 10px;
	font-style: italic;
}

.schedule_timeslot_time
{
	padding-left: 0px;
}

.schedule_timeslot:nth-child(1) { z-index: 1; }
.schedule_timeslot:nth-child(2) { z-index: 2; }
.schedule_timeslot:nth-child(3) { z-index: 3; }
.schedule_timeslot:nth-child(4) { z-index: 4; }
.schedule_timeslot:nth-child(5) { z-index: 5; }
.schedule_timeslot:nth-child(6) { z-index: 6; }
.schedule_timeslot:nth-child(7) { z-index: 7; }
.schedule_timeslot:nth-child(8) { z-index: 8; }
.schedule_timeslot:nth-child(9) { z-index: 9; }
.schedule_timeslot:nth-child(10) { z-index: 10; }
.schedule_timeslot:nth-child(11) { z-index: 11; }
.schedule_timeslot:nth-child(12) { z-index: 12; }

.week_links
{
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.help_cursor /**/
{
	cursor: help;
}


