
{% extends 'overallbase.html' %}

{% block content %}
	
	{% if user.is_authenticated %}
		<p>Je bent nog ingelogd.</p>
		<a href="{% url logout %}" data-role="button" data-icon="check" data-ajax='false'>Log out</a>
		<a href="{% url moderation %}" data-role="button" data-icon="check">Zaalwachtpagina</a>
	{% else %}
	<p>Hier kunnen de zaalwachten inloggen.</p>
	<form action="{% url login %}" method="post">
		<input type="hidden" name="next" value="{% url moderation %}" />
		<label>Gebruikersnaam</label>
		<input type="text" name="username" value="" /><br />
		<label>Wachtwoord</label>
		<input type="password" name="password" value="" /><br />
		
		<input type="submit" value="Log In" />
		{% csrf_token %}
		
		Je kan daarna bij de <a href="{% url moderation %}">zaalwachtinterface</a>.
		
	</form>
	{% endif %}

{% endblock content %}
