
<html>
	<head>
		<title>Room memos</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}memos.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}memos.js"></script>
	</head>
	<body>
		
		<div class="paper">
			{% for room, reservs in reservations.items %}
				<div class="memo">
					<div class="top line">
							Ruimte: {{ room }}
					</div>
					<div class="top under line">
							Datum:&nbsp; {{ date|date:"l d M"|lower }}
					</div>
					{% if reservs %}
						{% for reserv in reservs %}
							<div class="line">
									Van {{ reserv.start|date:"H:i" }} tot {{ reserv.end|date:"H:i" }}
							</div>
							<div class="under line">
									{% if reserv.name %}
										{{ reserv.name }}
									{% else %}
										{{ reserv.person.name }}
									{% endif %}
							</div>
						{% endfor %}
					{% else %}
						<div class="line">
								Geen reserveringen
						</div>
					{% endif %}
				</div>
				{% if forloop.counter|divisibleby:2 %}
					<div class="clear" />
				{% endif %}
			{% endfor %}
		</div>
	</body>
</html>