
{% extends 'work_base.html' %}

{% block content %}
	
	<h1>Account: {{ user }}</h1>
	
	<h2>Gegevens</h2>
	
	<p>Hier kan je je gegevens veranderen (o.a. voor loondeclaraties)</p>
	
	<form action="{% url 'account_submit' %}" method="POST">
		
		{{ form.as_p }}
		
		<p>Je geboortedatum is nodig voor declaratieformulieren. Hint: selecteer je verjaardag dit jaar en verander daarna handmatig het jaartal.</p>
		
		{% csrf_token %}
		<input type="hidden" name="{{ next }}" />
		
		<p>
			<input type="submit" value="Veranderen" data-role="button" data-icon="check" />
		</p>
		
	</form>
	
	<h2>Wachtwoord</h2>
	
	<p>Hou niet je standaard wachtwoord</p>
	
	<form action="{% url 'change_password' %}" method="POST">
		
		<p>
			<label>Huidige wachtwoord:</label>
			<input type="password" name="current_password" />
		</p>
		
		<p>
			<label>Nieuwe wachtwoord:</label>
			<input type="password" name="new_password" />
		</p>
		
		<p>
			<label>Herhaling nieuwe wachtwoord:</label>
			<input type="password" name="repeat_password" />
		</p>
		
		{% csrf_token %}
		<input type="hidden" name="{{ next }}" />
		
		<p>
			<input type="submit" value="Veranderen" data-role="button" data-icon="check" />
		</p>
		
	</form>
	
{% endblock content %}

