
{% extends 'work_base.html' %}

{% block content %}
	
	<h1>Wachtwoord veranderen</h1>
	
	<form action="{% url 'change_password' %}" method="POST">
		
		<p>
			<label>Huidige wachtwoord:</label>
			<input type="password" name="current_password" />
		</p>
		
		<p>
			<label>Nieuwe wachtwoord:</label>
			<input type="password" name="new_password" />
		</p>
		
		<p>
			<label>Herhaling nieuwe wachtwoord:</label>
			<input type="password" name="repeat_password" />
		</p>
		
		{% csrf_token %}
		<input type="hidden" name="{{ next }}" />
		
		<p>
			<input type="submit" value="Veranderen" data-role="button" data-icon="check" />
		</p>
		
	</form>
	
{% endblock content %}

