{% load static from staticfiles %}

<!DOCTYPE HTML>

<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="Content-Script-Type" content="text/javascript">
	    <meta http-equiv="Content-Style-Type" content="text/css">
	    
	    <link rel="icon" type="image/png"  href="{% static 'favicon.png' %}">
	    <title>Aqua</title>
	    
		<link rel="stylesheet" type="text/css" href="{% static 'jqui_css/jquery-ui-1.10.3.custom.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'timepicker.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'workstyle.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'schedule.css' %}" />
		
		<script type="text/javascript" src="{% static 'availability.js' %}"></script>
		<script type="text/javascript" src="{% static 'jqui_js/jquery-ui-1.10.3.custom.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'datetimepicker.js' %}"></script>
		<script type="text/javascript" src="{% static 'timepicker.js' %}"></script>
		<script type="text/javascript" src="{% static 'workscript.js' %}"></script>
	</head>
    <body>
    	<div id="">
    		
    	</div>
    	<div id="">
    		
    	</div>
    	<div id="">
    		
    	</div>
   	</body>
</html>
