
{% extends 'overallbase.html' %}

{% load static from staticfiles %}
{% load recieve_shifts %}

{% block cssjs %}
	<link rel="stylesheet" type="text/css" href="{% static 'jqui_css/jquery-ui-1.10.3.custom.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'timepicker.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'workstyle.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'schedule.css' %}" />
	
	<script type="text/javascript" src="{% static 'availability.js' %}"></script>
	<script type="text/javascript" src="{% static 'jqui_js/jquery-ui-1.10.3.custom.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'datetimepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'timepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'workscript.js' %}"></script>
{% endblock cssjs %}

{% block header %}
	<a class="ui-btn-left" href="{% url 'workhome' %}" data-ajax="false">Home</a>
	<h4>Work</h4>
{% endblock header %}

{% block page %}
	<div id="workpage">
	{% block gift_shift %}
		{% recieve_shifts %}
	{% endblock gift_shift %}
	{% block content %}
		Home!
	{% endblock content %}
	</div>
{% endblock page %}
