
{% extends 'work_base.html' %}

{% block content %}

	<h1>Deurbriefjes printen</h1>

	<p>Hieronder kun je een document downloaden om uit te printen, zodat je geen briefjes hoeft te schrijven voor op de deuren. Mocht dit niet werken dan liggen in het rek op de balie briefjes om de reserveringen met de hand op te schrijven. </p>

	<ul>
		<li style="margin-bottom:10px;"><a href="{% url 'room_reservations_pdf_yesterday' %}">Gisteren</a></li>
		<li style="margin-bottom:10px;"><a href="{% url 'room_reservations_pdf_today' %}">Vandaag</a></li>
		<li style="margin-bottom:10px;"><a href="{% url 'room_reservations_pdf_tomorrow' %}"><strong>Morgen</strong></a></li>
		<li><a href="{% url 'room_reservations_pdf_dayafter' %}">Overmorgen</a></li>
	</ul>

	Opmerkingen:

	<ul>
		<li>Het duurt even om de reserveringen in te lezen; 30 seconden is normaal.</li>
		<li>Je kan de briefjes vanuit je U-nummer printen. Het geld wordt dan bij de bibliotheek afgeschreven en niet bij jou.</li>
		<li>Gebruik geen herhalende boekingen ('wekelijks herhalen' in Google Calendar). De vervolgafspraken komen dan niet op het briefje te staan.</li>
		<li>Vul bij het boeken van de grote zalen <b>altijd</b> als 'omschrijving' de naam van de boeker in. Dat is wat op het briefje komt te staan. Voor de zekerheid wordt ook het eerste deel van het e-mailadres getoond</li>
		<li>Als je een andere dag nodig hebt, kopieer dan onderstaande URL en verander de datum: <br />
		<a href="{% url 'room_reservations_pdf' year=year month=month day=day %}">{{ baseurl }}r/..{% url 'room_reservations_pdf' year=year month=month day=day %}</a></li>
	</ul>

{% endblock content %}
