
{% for style in styles %}
.style_{{ style.name }}
{
	background-color: #{{ style.background_color }};
	color: #{{ style.text_color }};
	border-color: #{{ style.border_color }};
	left: {{ style.left_shift }}%;
	right: {{ style.right_shift }}%;
	z-index: {{ style.zindex }};
}
{% endfor %}
