
{% extends 'schedulebase.html' %}

{% block content %}
	
	{% if available_rooms %}
	
		<p>Welke ruimte wil je reserveren?</p>
		
		<ul data-role="listview">
			{% for room in available_rooms %}
				<li><a href="{% url enter_email %}{{ get }}&room={{ room.pk }}">{{ room.name }}, {{ room.capacity }} pers. ({{ room.pc_count }} PC's{% if room.special %}, {{ room.special }}{% endif %})</a></li>
			{% endfor %}
		</ul>
		
		<br />
		<p>Info over de beschikbare ruimten:
		{% for room in available_rooms %}
			<a href="{% url room room.pk %}" class="discrete_link">{{ room }}</a>
		{% endfor %}</p>
		{% if unavailable_rooms|length %}
			<p>Deze ruimten zijn niet beschikbaar:
			{% for room in unavailable_rooms %}
				<a href="{% url room room.pk %}" class="discrete_link">{{ room }}</a>
			{% endfor %}</p>
		{% endif %}
		
	{% else %}
		
		<p>Er is helaas geen ruimte die op {{ begin|date:"d M" }} van {{ begin|date:"H:i" }} tot {{ finish|date:"H:i" }} beschikbaar is.</p>
		
		<a href="{% url schedule %}" data-role="button" data-icon="check">Terug naar kalender</a>
		<a href="{% url pick_time %}" data-role="button" data-icon="check">Kies een nieuwe datum</a>
		
		<p>Deze ruimten zijn allen bezet:
		{% for room in unavailable_rooms %}
			<a href="{% url room room.pk %}" class="discrete_link">{{ room }}</a>
		{% endfor %}</p>
		
	{% endif %}
	
{% endblock content %}

