
{% extends 'schedulebase.html' %}

{% block content %}
	{% if room %}
		
		<p>Naam: {{ room.name }}</p>
		{% if room.special %}
			<p>Speciaal: {{ room.special }} </p>
		{% endif %}
		<p>Capaciteit: {{ room.capacity }} personen</p>
		<p>Aantal PC's: {{ room.pc_count }}</p>
		<p>Kleuren:
			<span style="background-color: #{{ room.text_color }}; color: #{{ room.background_color }};">tekst #{{ room.text_color }}</span> / 
			<span style="background-color: #{{ room.background_color }}; color: #{{ room.text_color }};">achtergrond #{{ room.background_color }}</span>
		</p>
		{% if room.reservations.all %}
			<p>Reserveringen ({{ room.reservations.all|length }}):</p>
			<ul>
				{% for reservation in room.reservations.all %}
					<li {% if reservation.no_show %}class="reservation_no_show"{% endif %}>
						{{ reservation.start|date:"M d Y, H:i" }} - 
						<a href="{% url person reservation.person.pk %}">{{ reservation.person }}</a>
						{% if reservation.name %}
							{{ reservation.name }}
						{% else %}
							(geen beschrijving)
						{% endif %}
						{% if reservation.no_show %} - niet op komen dagen{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Er zijn geen reserveringen voor {{ room }}.</p>
		{% endif %}
	{% else %}
		<p>Er is geen ruimte met dit id, sorry.</p>
	{% endif %}
	
	<a href="/" data-role="button" data-icon="check">Terug naar de kalender</a>
	
{% endblock content %}

