
body
{
	margin: 0px;
	padding: 0px;
	background-color: maroon;
}

#workpage
{
	background-color: white;
	width: 800px;
	margin: 0px auto;
	padding: 10px;
	min-height: 600px;
}

.left_align
{
	float: left;
}

.right_align
{
	float: right;
}

.clear
{
	clear: both;
	height: 1px;
}

.schedule_submit_bold
{
	font-weight: bold;
}