<div id="shift_gift">
	<ul>
	{% for assignment in shifts %}
		<li>
			<form action="{% url 'assignment_trade_result' assignment=assignment.pk %}" method="POST">
			{{ assignment.user }} wil je de shift {{ assignment.timeslot }} geven; wil je die aannemen?<br />
				<input type="hidden" name="assignment" value="{{ assignment.pk }}" />
				ja <input type="radio" name="accept" value="yes"> | 
				nee <input type="radio" name="accept" value="no">
				<input type="submit" value="ok" />
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
				<input type="hidden" name="next" value="{{ path }}" />
			</form>
		</li>
	{% endfor %}
	</ul>
</div>
