
{% extends 'work_base.html' %}

{% block content %}

	<h1>Zaalreserveringen</h1>

	<p style="font-weight: bold; color: red;">Er lijken nog wat problemen te zijn (overgeslagen ruimtes) dus let goed op! Wordt binnenkort naar gekeken, wellicht tot die tijd nog even zelf schrijven...</p>

	<p>Hieronder kun je een document downloaden om uit te printen, zodat je geen briefjes hoeft te schrijven voor op de deuren.</p>

	<ul>
		<li><a href="{% url 'room_reservations_pdf_yesterday' %}">Gister pdf</a> / <a href="{% url 'room_reservations_html_yesterday' %}">html</a></li>
		<li><a href="{% url 'room_reservations_pdf_today' %}">Vandaag pdf</a> / <a href="{% url 'room_reservations_html_today' %}">html</a></li>
		<li><a href="{% url 'room_reservations_pdf_tomorrow' %}"><strong>Morgen</strong> pdf</a> / <a href="{% url 'room_reservations_html_tomorrow' %}">html</a></li>
		<li><a href="{% url 'room_reservations_pdf_dayafter' %}">Overmorgen pdf</a> / <a href="{% url 'room_reservations_html_dayafter' %}">html</a></li>
	</ul>

	Opmerkingen:

	<ul>
		<li>Het duurt even om de kalenders te lezen, 30 seconden is normaal.</li>
		<li>Er is geen zaalwacht printbudget, je moet het zelf uitprinten.</li>
		<li>De grote zalen hebben geen duidelijke beschrijving, die moet je zelf nog invullen.</li>
		<li>Er zijn ook html versies voor als je gewoon wilt overschrijven.</li>
		<li>Als je een andere dag nodig hebt, verander dan zelf de datum in de url: <br />
		<a href="{% url 'room_reservations_pdf' year=year month=month day=day %}">{{ baseurl }}{% url 'room_reservations_pdf' year=year month=month day=day %}</a></li>
	</ul>

{% endblock content %}


