
{% extends 'work_base.html' %}

{% block content %}
	
	<h1>{{ user.get_full_name }}: {{ month_name }} {{ year }}</h1>
	
	<p>Overzicht van uren voor {{ user.get_full_name }} tijdens maand {{ month_name }} van {{ year }}</p>
	
	<ul>
	{% for day in hourlist.values %}
		{% if day.hours %}
			<li>
				{{ day.weekday }} {{ day.day }}: <strong>{{ day.hours }}</strong>
			</li>
		{% endif %}
	{% endfor %}
	</ul>
	
	<p>In totaal heeft {{ user.get_full_name }} deze maand <strong>{{ total }}</strong> uur gewerkt.</p>
	
	<p id="pagination">
		<a class="left_align" href="{% url 'month_overview' user=user.username year=prev_year month=prev_month %}"><< previous</a>
		<a class="right_align" href="{% url 'month_overview' user=user.username year=next_year month=next_month %}">next >></a>
		<br class="clear" />
	</p>
	
	<p>Download <a href="{% url 'month_overview_pdf' user=user.username year=year month=month %}">loondeclaratie</a> als PDF. Vergeet niet te ondertekenen.</p>
	
{% endblock content %}


